

@font-face {
    font-family: "Helvetica"; 
    src: url("./Helvetica.ttf");
  }

@font-face {
    font-family: "futura"; 
    src: url("./Futura Bold font.ttf");
  }





$Headings_font : Helvetica;
$page_text_color : white;
$medium_text_font : Roboto;