<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <script defer src="/static/Crop_info.js"></script>
    <link rel="stylesheet" href="/static/Crop_info.css">
    <title>Document</title>
</head>
<body>
    <h1 class="head"></h1>
    <div class="image">
        <img src="" alt="">
    </div>
    <div class="duration">
        <h2>DURATION</h2>
        <p class="dur_p"></p>
    </div>
    <div class="two">
        <div class="environment">
            <h2>ENVIRONMENT</h2>
            <h3>RAINFALL</h3>
            <p class="rainfall"></p>
            <h3>TEMPERATURE</h3>
            <p class="temp"></p>
            <h3>HUMIDITY</h3>
            <p class="humid"></p>
        </div>
        <div class="soil">
            <h2>SOIL</h2>
            <h3>NITROGEN</h3>
            <p class="nitro"></p>
            <h3>PHOSPHOROUS</h3>
            <p class="pho"></p>
            <h3>POTASSIUM</h3>
            <p class="po"></p>
            <h3>pH</h3>
            <p class="ph"></p>
        </div>
    </div>
    <div class="cultivate">
        <h2>CULTIVATE</h2>
        <div class="cultiv">
            
        </div>
        
    </div>




</body>
</html>