<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link rel="stylesheet" href="/static/homepage.css">
<script defer src="/static/homepage.js"></script>    

<title>Smart Harvest</title>
</head>
<body>
    <div class="hero_img">
        <img src="static/images/hero_1.png" alt="">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Empowering <span>Farmers</span> with <br>Precision Agriculture Solutions</p>
        <p>Harnessing the power of data and technology, Smart Harvest is your trusted partner in modern farming practices. Our innovative Crop Recommendation System empowers farmers with personalized insights and recommendations, revolutionizing the way crops are cultivated.With Smart Harvest, optimize your harvest like never before. Say goodbye to guesswork and hello to precision farming. Join us on a journey towards sustainable agriculture and bountiful yields.</p>
        
    </div>
    <div class="buttons">
        <a href="/choose" target="_blank"><button>
            Try Now
        </button></a>
        <button class="learn" onclick="focus_1()">
            Learn More
        </button>
    </div>
    <div class="quote">
        <p>
            <span>
                &nbsp;&nbsp;&nbsp;Choose the crop that best fits your land, climate and resources,<br>for it is the foundation upon which your success as a farmer will grow.
            </span>
        </p>
        

    </div>

    <div class="why">
        <h1>Why Smart <span>Harvest</span></h1>
        <h2 class = "head">Optimized Crop Selection</h2>
        <img src="static/images/Scroll_1.jpg" alt="" class="scroll">
        <p class="img_content">Smart Harvest utilizes advanced algorithms and data analytics to analyze various factors such as soil condition, weather patterns, and geographical location. This ensures that farmers receive precise recommendations tailored to their specific agricultural environment, maximizing crop yield and profitability.</p>
        <div class="icon">
            <i class="fa-solid fa-chevron-left" onclick="decrement()"></i>
            <i class="fa-solid fa-chevron-right" onclick="increment()"></i>
        </div>
        
    </div>

    <div class="start">
        <h1>Let's get <span>Started</span></h1>
        <p>Your journey to smarter farming starts now.</p>
        <p><span>Click</span> the button below to begin the process of <br>providing us with essential details about your farm.</p>
        <img src="static/images/happy_farmer.png" alt="">
        <a href="/choose" target="_blank"><button><i class="fa-solid fa-chevron-right"></i>Try Now &nbsp;&nbsp;</button></a>
        

    </div>








    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>
</html>